img {
	width: 100%;
}

.card-blog {
	margin-bottom: 20px;
}

.card {
	width: 25rem;
}

.card-title b a {
	color: #333;
}

.card-title b a:hover {
	color: #FE980F;
}

.product-carousel > .carousel-indicators li {
    height: auto;
    width: 20%;
    border: 1px solid #ccc;
    padding: .25rem;
}

.divider {border: 1px solid #ccc;}
img {width:100%;}